<div class="container mt-3">
  <div class="rules-container my-5">
    <h4>How to play</h4>
    <p>Humans vs. Zombies is a game of tag. One random player will become the Patient Zero and have the objective to tag
      human players and turn them into zombies. The game is over when there is only one human remaining. Register for a
      game and await the game to start!</p>
  </div>
  <h2>Games</h2>
  <app-game-table [(refresh)]="refreshGameTable"></app-game-table>
  <!-- Admin control -->
  <button (click)="onClickNewGame()" *ngIf="isAdmin()" class="btn-primary mb-3" type="button">Create New Game</button>
  <button (click)="onRefresh()" class="btn-primary mb-3">Refresh</button>
</div>
