<!-- Modal -->
<div class="modal fade" id="killFormModal" tabindex="-1" aria-labelledby="killFormModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="killFormModalLabel">Register Kill</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <form #registerKillForm="ngForm" (ngSubmit)="registerKill(registerKillForm)">
            <label for="victimBiteCode" class="form-label"></label>
            <div class="input-group mb-3">
              <span class="input-group-text">Victim BiteCode: </span>
              <input name="victimBiteCode" ngModel #victimBiteCode="ngModel" type="text" class="form-control" aria-label="victimBiteCodeLabel">
            </div>
            <div class="kill coordinates">
              <span class="input-group-text">Latitude: {{this.killLatitude}}</span>
              <span class="input-group-text">Longitude: {{this.killLongitude}}</span>  
            </div>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary"  data-bs-dismiss="modal">Kill</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
