<div class="container d-flex justify-content-center flex-column mt-3">
    <!-- Map component -->
    <div id="map">
        <app-game-map (coordinateChanged)="newCoordinates($event)" [mapRadius]="this.gameRadius"></app-game-map>
    </div>
    <!-- (gameRadiusChanged)="updateGameRadius($event)" -->

    <div class="show-coords mt-3" (click)="newCoordinates">
        <h5>Game Coordinates</h5>
        <p>Latitude: {{ mapLat}} <br> Longitude: {{ mapLong }}</p>
    </div>

    <form #createGame="ngForm" (ngSubmit)="onSubmit(createGame)">
        <div class="input-group d-flex justify-content-evenly">
            <!-- Map slider -->
            <div class="slider-container">
                <h5>Game size: {{ gameRadius }} (m)</h5>
                <input type="range" [value]="gameRadius" (input)="onSliderInput($event)" [min]="this.minRadius"
                    [max]="3000">
            </div>
            <fieldset>
                <label for="radius" class="form-label"><h5>Radius (m)</h5></label>
                <input id="radius" type="number" name="radius" class="form-control" required ngModel #radius="ngModel"
                    [value]="this.gameRadius" [defaultValue]="this.gameRadius" [min]="this.minRadius"
                    [max]="3000" (input)="onSliderInput($event)" [ngClass]="{
                        'is.valid': radius.valid,
                        'is-invalid': radius.invalid && (radius.dirty || radius.touched)
                    }"/>
                <div *ngIf="radius.errors && radius.invalid && (radius.dirty || radius.touched)">
                    <p *ngIf="radius.errors?.['max']">Radius is too great.</p>
                </div>
            </fieldset>

            <fieldset>
                <label for="title" class="form-label"><h5>Title</h5></label>
                <input type="text" id="title" name="title" class="form-control" required minlength="3" ngModel
                    #title="ngModel" [ngClass]="{
                        'is.valid': title.valid,
                        'is-invalid': title.invalid && (title.dirty || title.touched)
                    }" placeholder="Game Title" />
                <div *ngIf="title.errors && title.invalid && (title.dirty || title.touched)">
                    <p *ngIf="title.errors?.['required']">Game title is required.</p>
                    <p *ngIf="title.errors?.['minlength']">Title is too short, (3 chars).</p>
                </div>
            </fieldset>

            <fieldset>
                <label for="playerLimit" class="form-label"><h5>Player Limit</h5></label>
                <input type="number" id="playerLimit" name="playerLimit" class="form-control" required ngModel
                    [defaultValue]="100" #playerLimit="ngModel" [min]=3 [max]=100 [ngClass]="{
                        'is.valid': playerLimit.valid,
                        'is-invalid': playerLimit.invalid && (playerLimit.dirty || playerLimit.touched)
                    }" />
                <div *ngIf="playerLimit.errors && playerLimit.invalid && (playerLimit.dirty || playerLimit.touched)">
                    <p *ngIf="playerLimit.errors?.['required']">You need players to play.</p>
                    <p *ngIf="playerLimit.errors?.['min']">You need atleast 3 players.</p>
                    <p *ngIf="playerLimit.errors?.['max']">Max players is 100.</p>
                </div>
            </fieldset>
        </div>
        <div class="btn-group-sm mt-3">
            <button type="button" class="btn-danger" (click)="goBack()">Back</button>
            <button *ngIf="!isLoading" type="submit" [disabled]="createGame.invalid" class="btn-primary mx-1">Create Game</button>
        </div>
    </form>
</div>